/*--------------------portfolio styles---------------------*/

/*------------footer styles------------------*/

/* ------------------------------------------------- */

/*----------modal styles---------------------*/

.overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navy-blue);
  display: block;
}

.modal-close:hover,
.modal-close:focus {
  border: none;
  background-color: var(--ocean);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--white);
}

.modal-label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  gap: 4px;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  background-color: transparent;
  outline: transparent;
}

.modal-input:focus {
  border: 1px solid var(--iris);
}

.modal-input-wrapper:focus-within .modal-icon {
  fill: var(--iris);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--grey);
  width: 18px;
  height: 24px;
  transform: translateY(-50%);
}
.modal-textarea {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
}

.modal-textarea::placeholder {
  color: var(--navy-blue-modal);
}

.modal-textarea:focus {
  border: 1px solid var(--iris);
}

.modal-checkbox-wrapper {
  margin-bottom: 24px;
  position: relative;
}

.modal-checkbox {
  appearance: none;
}

.modal-checkbox-label {
  display: flex;
  align-items: baseline;
  gap: 8px;
  cursor: pointer;
}

.checkbox-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  fill: transparent;
  background-color: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-checkbox-label .checkbox-icon {
  background-color: var(--ocean);
  border: none;
}

.modal-checkbox:checked + .modal-checkbox-label .checkbox-icon svg {
  fill: var(--white);
}

.modal-checkbox-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-checkbox-text a {
  color: var(--iris);
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.modal-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  cursor: pointer;

  display: flex;
  justify-content: center;
  gap: 10px;

  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 169px;
  height: 56px;
  margin: auto;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);

  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean);
}
